//-
    @file home.jade
    @author zx
    @description 主页
extends ../layout
block content
    .container
        .raw
            .panel.panel-default
                .panel-body
                    .col-md-2
                        .thumbnail
                            p 学生服务
                            .caption
                                p
                                    a.btn.btn-primary(href="/product/new",role="button") 查看详情
                    .col-md-2
                        .thumbnail
                            p 其他服务
                            .caption
                                p
                                    a.btn.btn-primary(href="",role="button") 查看详情
